body {
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: url("Images/homeWithLawn.jpg") 50% 50% no-repeat;*/
    /*background-size: cover;  */
    /*background-repeat: no-repeat;*/
}

.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

.top-header {
    height: 50px;
    width: 98.5%;
    /*background-color: white;*/
    opacity: 0.6;
    z-index: 2;
    border-radius: 3px;
    margin-top: 1px;
    margin-left: 10px;
}

.logo {
    height: 50px;
    width: 130px;
    border-radius: 4px;
}

.nav {
  display: inline-flex;
  float: right;
  padding-right: 35px;
}

.navbar-right {
  margin: 0;
}

.nav ul li {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}

.nav li a {
  color: #fff;
  font-size: 16px;
}

.compName {
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 100;
    padding-top: 1.5%;
    padding-left: 1.5%;
}



.menu {
    position: absolute;
    z-index: 2;
    font-family: sans-serif;
    font-weight: 100;
    float: right;
    padding-top: 15px;
    padding-left: 378px;
    display: inline-block;
}

.pipe{
    color: black;
}

a {
    text-decoration: none;
}

.menu > a {
    list-style-type: none;
	text-decoration: none;
    color: black;
	font-family: sans-serif;
    padding-top: 2%;
    position: relative;
}

.menu > a:hover {
	font-weight: 500;
}

.menu a, visited {
    text-decoration: none;
    
}

/*
ul li:hover{
    background-color: white;
    display: block;
}

ul li {
    display: block;
    text-decoration: none;
    background-color: white;
    max-width: 105px;
    padding-left: 15px;
    position: absolute;
}
*/

.main-view {
    background-color: #fff;
    border-radius: 3px;
    height: 540px;
    width: 85%;
    
}


.footer {
    height: 30px;
    width: 100%;
    background-color: #fff;
    position:fixed;
    opacity: 0.6;
    bottom: 0;
    left: 0;
}

.copyRight {
    position: absolute;
    padding-top: 0.4%;
    padding-left: 1%;
    z-index: 1;
}

.cr {
    font-size: 12px;
    color: black;
    font-family: sans-serif;
}

.socIcons  {
    padding-top: 0.2%;
    padding-right: 1%;
    display: inline-block;
    float: right;
    z-index: 2;
}

.s {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    text-decoration: none;
}

.page {
    height: 500px;
    width: 950px;
    margin: 65px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 3px;
}

.page .about-img {
    padding-top: 40px;
    border-radius: 3px;
}

.page .about-info {
    max-height: 400px;
    max-width: 460px;
    text-align: justify;
    float: right;
    padding-top: 100px;
    padding-left: 5px;
}

.page h1, h3 {
    font-family: sans-serif;
    font-weight: 300;
}

.page span {
  font-size: 16px;
}

/*SERVICES*/

.commercial {
    float: left;
    margin: 0;
    padding-left: 50px;
}

.uvsc, .res-home {
    border-radius: 3px;
  margin-bottom: 10px;
}

.residential {
    float: right;
    padding-left: 5px;
    padding-right: 50px;
}

.commercial, .residential {
  margin-top: -10px;
}

.services-ul {
    list-style-type: none;
}

.list {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 16px;
}

.fa {
    padding-right: 5px;
}

/*PROJECTS*/

.projectsh1 {
    padding-left: 25px;
}

.projects-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -20px;
}

.projects-desc {
    float: right;
    margin-top: 85px;
    width: 800px;
}

/*SLIDESHOW*/


@baseBg: #ececec;
@baseTxt: #3f3739;
@hoverColor: #5fd8dd;

body{
  background-color: @baseBg;
  color: @baseTxt;
}

a{
  color: @baseTxt;
  text-decoration: none;
}

.slideshow{
  float: left;
  padding-top: 25px;
  padding-left: 25px;
  position: relative;
  width: 800px;
  margin: 20px auto 0px auto;
  text-align: center;
}

.slide{
  position: absolute;
  width: 360px;
  height: 300px;
  border-radius: 3%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.overlay-shadow{
  box-shadow: inset 0px 0px 10px #000;
  opacity: 0.6;
}

.overlay-highlight{
  background: -webkit-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -moz-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -ms-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  opacity: 0.4;
}

.active{
  opacity: 1;
}

.slide img.horizontal{
  max-height: 100%;
  width: auto;
}

.slide img.vertical{
  max-width: 100%;
  height: auto;
}

.slideshow-nav{
  width: 500px;
  margin: -175px auto 0 auto;
  padding: 10px;
  text-align: center;
  overflow: auto;
}

/*
.nav-link{
  transition: color 0.25s linear;
  padding: 0px 5px;
}

.nav-link:hover{
  color: #222;
}

.nav-link em{

}
*/

.previous{
  float: left;
}

.next{
  float: right;
}

/*CONTACT US*/
.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.house-pic {
  height: 300px;
  width: auto;
  border-radius: 6px;
  margin-left: 70px;
  margin-top: 45px;
}

.page .contact-head {
  padding-left: 70px;
}

.contact-info {
  font-family: sans-serif;
  font-weight: 500;
  float: right;
  padding: 50px 130px;
}

.company, .phone, .fax {
  font-size: 14px;
  font-weight: 600;
}


